.about {
    display: block;
    unicode-bidi: isolate;
    box-sizing: border-box;
}

.content {
    width: 100%;
    max-width: 71.25rem;
    padding: 4rem 1.5rem;
    margin: 0 auto;
}

.info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    gap: 2.5rem;
}
